{% extends "base.html" %}
{% load rv %}

{% block title %}{{ project.name }} - ASINs - {{ BRAND.NAME }}{% endblock %}

{% block header %}
<nav class="rv-breadcrumb" aria-label="Breadcrumb"><a href="{% url 'projects:list' %}">Projects</a><span aria-hidden="true">/</span><span class="rv-truncate">{{ project.name }}</span><span aria-hidden="true">/</span><span>ASINs</span></nav>
{% endblock %}

{% block content %}
{% include "projects/partials/project_header.html" %}

<div id="rv-tab-panel">
  {% include "projects/partials/tab_asins.html" %}
</div>
{% endblock %}
